html
	height: 100%
	box-sizing: border-box

*, *::before, *::after
	margin: 0
	padding: 0
	outline: 0
	border: 0
	box-sizing: inherit

ul
	list-style: none

button, label, select, input[type="submit"]
	cursor: pointer

input, textarea, select, button
	font-family: inherit
	font-size: inherit
	font-weight: inherit
	color: inherit

img
	max-width: 100%
	height: auto

input[type="radio"], input[type="checkbox"]
	position: absolute
	opacity: 0
	top: 0
	left: 0

a
	text-decoration: none

a,
a::before,
a::after,
button,
button::before,
button::after,
.slick-dots li,
input[type="submit"]
	transition: all .5s ease

.container
	margin: 0 auto
	padding: 0 15px
	position: relative

#top
	width: 40px
	height: 40px
	position: fixed
	bottom: 40px
	right: 40px
	cursor: pointer
	border-radius: 50%
	transition: all .2s ease
	z-index: 100
	transform: translateY(100px)
	opacity: 0
	display: flex
	justify-content: center
	align-items: center
	&.active
		transform: none
		opacity: 1
