block variables
	-
		var title = 'title'
		var description = 'description'

doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		title=title
		meta(name='description' content=description)
		meta(name='viewport' content='width=device-width, initial-scale=1')
		link(rel='preconnect' href='https://fonts.googleapis.com')
		link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin)
		link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')
		link(rel='stylesheet' href='https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap')
		<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		link(rel='stylesheet' href='css/libs.min.css')
		link(rel='stylesheet' href='css/style.css')
	body(class=index ? '' : 'inner')
		include components/_header.pug
		main.content
			block content
		include components/_footer.pug
		include components/modals.pug
		//- #top.fas.fa-arrow-up
		<div class="progress-wrap">
			<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
				<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919, 307.919; stroke-dashoffset: 247.186;"></path>
			</svg>
		</div>
		script(src='js/libs.min.js')
		<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
		//- <script src="https://cdn.jsdelivr.net/npm/simple-parallax-js@5.5.1/dist/simpleParallax.min.js"></script>
		<script src="https://cdn.jsdelivr.net/gh/dixonandmoe/rellax@master/rellax.min.js"></script>


		script(src='js/scripts.js')
