extends _layout.pug

block variables
    -
        var title = 'Биография'
        var description = 'Биография'
        var index = true

        var path = [
            {
                image: 'img/bio-01.png',
                header: '2013',
                text: [
                    'Я стал бренд-шефом отеля «Метрополь». До этого я успел поработать на пассажирских лайнерах Европы и в ресторанах Таллина — Le Bonaparte, RIBE, а также в отелях Grand Hotel и Radisson SAS, был шеф-поваром престижного ресторана Kadriorg в историческом парке в Таллинне и «Лапландии» в Санкт-Петербурге — одного из первых ресторанов новой нордической кухни в России. Прошел стажировки в легендарных Noma в Копенгагене и Chez Dominique в Хельсинки.'
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2014',
                text: [
                    'У меня рождается идея нового заведения с кухней одновременно торжественной, но лаконичной и понятной, с дружественным и умным сервисом.'
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2015 - 2017',
                text: [
                    'Я был ведущим всемирно известного проекта «Мастер Шеф Дети» на канале СТС.',
                    'Я был ведущим всемирно известного проекта «Мастер Шеф Дети» на канале СТС. Для меня был это очень непростой и в тоже время очень важный опыт. Я понимал, что у меня есть возможность зажечь страсть к ремеслу в сердцах совсем юных малышей. Именно так, когда-то эта страсть вспыхнула в моем сердце и полыхает там по сей день. Надеюсь мне удалось вдохновить своим участием в этом проекте хотя бы одного человека и надеюсь, мы еще услышим о нем или ней!',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2015',
                text: [
                    'В здании отеля «Метрополь» я открыл ресторан SAVVA — новаторский и элегантный, уважительно относящийся и к вековым традициям Москвы, и к веяниям нового времени. Назван ресторан был в честь основателя гостиницы — человека-легенды Саввы Мамонтова, мецената и автора многих идей, которые изменили лицо Москвы в начале XX века. Концепция ресторана — это современная русская кухня в авторском исполнении; сезонные продукты, овощи, зелень и работа с фермерами.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2017',
                text: [
                    'Международный гастрономический гид Gault&Millau включил ресторан SAVVA в список лучших ресторанов Москвы. SAVVA стал одним из трёх ресторанов, которые удостоились высшей награды в регионе — 4 «колпаков», а меня гид отметил как лучшего Executive Chef в Москве.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2017',
                text: [
                    'Известный французский гид «La Liste» наградил ресторан SAVVA  титулом «The World Best Restaurants Selection», этого же титула ресторан был удостоен в 2018 и в 2022 году.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2017',
                text: [
                    'Я стал владельцем гастрономического бара «TarTar Kook+Baar» в Таллине.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2018',
                text: [
                    '«12forward» - проект скандинавского ресторанного гида «White Guide», включил Москву в список мегаполисов, для которых его эксперты выбирали 12 самых интересных ресторанов города. Благодаря моей авторской интерпретации русской кухни, оригинальному интерьеру и высокому уровню сервиса SAVVA выбран в числе лучших ресторанов Москвы.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2020',
                text: [
                    'Ресторан SAVVA получил награду «Ресторан Года» по версии ежегодной премии «GQ Ресторанный рейтинг».',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2021',
                text: [
                    'Я был удостоен премии «ШЕФ-ПОВАР ГОДА», ежегодной российской премии среди шеф-поваров, организованной международным форумом «Завтрак Шефа».',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2021',
                text: [
                    'Я стал куратором поварского направления Академии Stanfood.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2021',
                text: [
                    'ресторан SAVVA был удостоен звезды MICHELIN в Гиде MICHELIN-Moscow 2022.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2021',
                text: [
                    'Ресторан SAVVA вошел в TOP-3 лучших ресторанов Москвы по версии ресторанной премии WHERETOEAT-2021. В феврале 2022 года Savva вошел в TOP-5 лучших ресторанов России по версии WHERETOEAT Russia-2022, а также был удостоен специального приза российского представительства Международного союза консьержей Les Clefs d’Or.',
                    'В ноябре 2022 года ресторан Savva занял второе место по версии WHERETOEAT Moscow-2022, а я выиграл в специальной номинации «Шеф-повар года» в рамках той же премии.',
                    'В апреле 2023 года ресторан Savva занял 5 место во Всероссийской премии WHERETOEAT Russia-2023. 9 ноября 2023 года ресторан Savva занял первое место в TOP-10 по версии ежегодной премии WHERETOEAT Moscow-2023.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2022',
                text: [
                    'Я стал участником телевизионной программы «Повара на колесах» на Первом канале.',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2023',
                text: [
                    'Стал ведущим, главным судьей и наставником героев нового кулинарного проекта «Стать шефом» на телеканале СТС',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2023',
                text: [
                    'Я занял первое место в номинации «ШЕФ-ПОВАР ГОДА»',
                ]
            },
            {
                image: 'img/bio-01.png',
                header: '2023',
                text: [
                    'В Лубянском проезде в районе Китай-города я открыл собственный авторский проект «Шмак» с сэндвичами-«шмаками». Это реализация моей давней, немного хулиганской мечты с неформальным, рок-н-ролльным подходом к еде.',
                ]
            },
        ]

block content
    .bio-page
        .section.intro
            .container
                .intro__inner
                    .banner.banner--bio.banner--dark2.px-59
                        img.banner__image(src="img/bio-banner.png" alt="")
                        h1 андрей <br>шмаков
                        p Владелец и шеф-повар <br>закусочной ШМАК
                    .bio-info
                        p.bio__quote “Я обожаю кормить людей. Это дело, <br>которому я посвятил жизнь и которому <br>посвятил себя!”
                        p.bio__name А. Шмаков

        .section.path
            .container
                h1.section__header долгий путь к&nbsp;шмакам
                .bio-grid
                    each item in path
                        .bio__item
                            img.bio__item-image(src=item.image alt=item.header)
                            .bio__item-content
                                p.bio__item-header !{item.header}
                                .bio__item-text
                                    each text in item.text
                                        p !{text}

        .section.empty.empty--static
            .container
                .subscribe
                    .subscribe__inner
                        p.subscribe__text подпишитесь на наш telegram
                        a.subscribe__button.btn(href="#") подписаться