extends _layout.pug

block variables
    -
        var title = 'Контакты'
        var description = 'Контакты'
        var index = true

block content
    .contacts-page
        .section.intro
            .container
                .intro__inner
                    .banner.banner--contacts
                        img.banner__image(src="img/contacts-banner.jpg" alt="")
        .section.contacts
            .container
                h1.section__header контакты
                .contacts-grid
                    .contacts__item
                        p.contacts__item-title Скорее приходи:
                        .contacts__item-text Солянский проезд, 1
                    .contacts__item
                        p.contacts__item-title Мы работаем так:
                        .contacts__item-text 
                            p вс-чт: 12:00 - 23:00 
                            p пт-сб: 12:00 - 01:00
                    .contacts__item
                        p.contacts__item-title Звони:
                        .contacts__item-text
                            a(href="tel:+79167624761") +7 (916) 762-47-61
                    .contacts__item
                        p.contacts__item-title Давай дружить:
                        .contacts__item-text
                            .social
                                each item in social
                                    a.social__link(href=item.href) !{item.svg}
                                        //- img.social__image(src=item.icon, alt="")
                .map
                    .map__inner
                        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab61812ecc144459ae4278eb2d02c66223892d6e3e9fa5b351d2ed239f6fcc048&amp;width=100%25&amp;height=100%&amp;lang=ru_RU&amp;scroll=false"></script>

        .section.empty.empty--static
            .container
                .subscribe
                    .subscribe__inner
                        p.subscribe__text подпишитесь на наш telegram
                        a.subscribe__button.btn(href="#") подписаться