extends _layout.pug

block variables
    -
        var title = 'Вакансии'
        var description = 'Вакансии'
        var index = true

        var vacancies = [
            {
                image: 'img/vacancies-01.png',
                header: 'Работник кухни',
                text: 'Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт сложившаяся структура организации требуют от нас анализа систем массового участия.'
            },
            {
                image: 'img/vacancies-02.png',
                header: 'Официант',
                text: 'Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт сложившаяся структура организации требуют от нас анализа систем массового участия.'
            },
            {
                image: 'img/vacancies-03.png',
                header: 'Повар',
                text: 'Разнообразный и богатый опыт дальнейшее развитие различных форм деятельности способствует подготовки и реализации системы обучения кадров, соответствует насущным потребностям. Разнообразный и богатый опыт постоянный количественный рост и сфера нашей активности требуют от нас анализа соответствующий условий активизации. Разнообразный и богатый опыт сложившаяся структура организации требуют от нас анализа систем массового участия.'
            },
        ]

block content
    .vacancies-page
        .section.intro
            .container
                .intro__inner
                    .banner.banner--news
                        img.banner__image(src="img/vacancies-banner.png" alt="")

        .section.vacancies
            .container
                h1.section__header вакансии в #[span шмак]
                .vacancies-grid
                    each item in vacancies
                        .vacancies__item
                            img.vacancies__item-image(src=item.image alt=item.header)
                            .vacancies__item-content
                                p.vacancies__item-header !{item.header}
                                .vacancies__item-text !{item.text}

        .section.empty.empty--static
            .container
                .subscribe
                    .subscribe__inner
                        p.subscribe__text подпишитесь на наш telegram
                        a.subscribe__button.btn(href="#") подписаться