-
	var social = [
		{ href: '#', svg: '<svg xmlns="http://www.w3.org/2000/svg" width="31" height="19" viewBox="0 0 31 19" fill="none"><path d="M15.0052 18.5881H16.8376C16.8376 18.5881 17.3915 18.5227 17.6734 18.1974C17.9338 17.8989 17.9244 17.3387 17.9244 17.3387C17.9244 17.3387 17.8877 14.7152 19.0305 14.3285C20.1555 13.9483 21.6007 16.8641 23.1323 17.9867C23.9282 18.5701 24.5928 18.6645 24.9306 18.6667C24.9384 18.6667 24.9458 18.6667 24.9532 18.6667C25.0927 18.6658 25.1701 18.6495 25.1701 18.6495L29.2662 18.5881C29.2662 18.5881 31.4093 18.4472 30.3933 16.6495C30.311 16.5024 29.8011 15.3202 27.3474 12.8908C24.7788 10.3468 25.124 10.7599 28.2177 6.36153C30.1019 3.68276 30.8554 2.04661 30.6196 1.34729C30.3953 0.680448 29.0094 0.856487 29.0094 0.856487L24.4014 0.885021C24.4014 0.885021 24.0603 0.835854 23.8051 0.997405C23.5578 1.15676 23.3986 1.52508 23.3986 1.52508C23.3986 1.52508 22.6682 3.59847 21.6946 5.36149C19.6416 9.08113 18.8194 9.27736 18.484 9.04645C17.7038 8.50867 17.8993 6.88306 17.8993 5.72937C17.8993 2.12431 18.4112 0.621183 16.9006 0.232669C16.3985 0.104043 16.0302 0.017999 14.748 0.00351199C14.6147 0.00219499 14.4834 0.000877997 14.3538 0H13.8369C12.5938 0.00834098 11.5597 0.0877998 10.9223 0.420561C10.3972 0.694496 9.99267 1.30602 10.24 1.3407C10.5449 1.38372 11.235 1.53913 11.6008 2.07076C12.0745 2.75603 12.0572 4.2978 12.0572 4.2978C12.0572 4.2978 12.3292 8.54116 11.4226 9.0684C10.7996 9.43013 9.94658 8.69218 8.11622 5.31584C7.17882 3.58794 6.4698 1.6761 6.4698 1.6761C6.4698 1.6761 6.3336 1.32051 6.0904 1.12998C5.79535 0.899069 5.38138 0.825318 5.38138 0.825318L0.999297 0.853853C0.999297 0.853853 0.341716 0.874486 0.100165 1.17915C-0.114639 1.45089 0.0828818 2.01149 0.0828818 2.01149C0.0828818 2.01149 3.51398 10.5733 7.39733 14.8904C10.9605 18.8471 15.0052 18.5876 15.0052 18.5876V18.5881Z" fill="white"/></svg>' },
		{ href: '#', svg: '<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none"><path d="M10.0026 4.86433C7.16701 4.86433 4.87065 7.16291 4.87065 9.99617C4.87065 12.8317 7.16927 15.128 10.0026 15.128C12.8389 15.128 15.1345 12.8294 15.1345 9.99617C15.1345 7.15989 12.8359 4.86433 10.0026 4.86433ZM10.0026 13.3272C8.16173 13.3272 6.67154 11.8362 6.67154 9.99617C6.67154 8.1561 8.16248 6.66518 10.0026 6.66518C11.8427 6.66518 13.3336 8.1561 13.3336 9.99617C13.3344 11.8362 11.8435 13.3272 10.0026 13.3272Z" fill="white"/><path d="M14.1232 0.0627926C12.2831 -0.023178 7.72583 -0.0186532 5.88421 0.0627926C4.26582 0.13896 2.83823 0.529598 1.68741 1.6804C-0.235657 3.60342 0.0101935 6.19536 0.0101935 9.99617C0.0101935 13.886 -0.206246 16.4176 1.68741 18.3119C3.61877 20.2418 6.24771 19.9891 10.0033 19.9891C13.857 19.9891 15.1873 19.9914 16.5493 19.4643C18.4022 18.7456 19.8004 17.0895 19.9369 14.1152C20.0236 12.2744 20.0184 7.71795 19.9369 5.87637C19.7718 2.3659 17.8879 0.236242 14.1232 0.0627926ZM17.0357 17.0397C15.7748 18.3006 14.0259 18.1883 9.97921 18.1883C5.81257 18.1883 4.14139 18.2501 2.92194 17.0277C1.51773 15.6303 1.77187 13.386 1.77187 9.98335C1.77187 5.3794 1.29978 2.06349 5.92041 1.8267C6.98225 1.78899 7.29446 1.77693 9.96714 1.77693L10.0049 1.80181C14.446 1.80181 17.9301 1.33652 18.139 5.95706C18.1866 7.01133 18.1971 7.32806 18.1971 9.99617C18.1964 14.1145 18.2748 15.7954 17.0357 17.0405V17.0397Z" fill="white"/><path d="M16.5372 4.66222C16.5372 5.32435 16.0003 5.86129 15.3382 5.86129C14.676 5.86129 14.1391 5.32435 14.1391 4.66222C14.1391 4.0001 14.676 3.46316 15.3382 3.46316C16.0003 3.46316 16.5372 4.0001 16.5372 4.66222Z" fill="white"/></svg>' },
		{ href: '#', svg: '<svg xmlns="http://www.w3.org/2000/svg" width="22" height="19" viewBox="0 0 22 19" fill="none"><path d="M1.30809 8.1292L14.0159 2.58911C15.2701 2.01217 19.5242 0.16486 19.5242 0.16486C19.5242 0.16486 21.4874 -0.643222 21.3236 1.31874C21.269 2.12682 20.833 4.95465 20.3962 8.01363L19.0327 17.075C19.0327 17.075 18.9235 18.4022 17.9961 18.6334C17.0686 18.8645 15.5422 17.8253 15.2692 17.5941C15.0508 17.4208 11.1789 14.8241 9.76087 13.5546C9.37949 13.2079 8.94263 12.5154 9.81547 11.7082C11.7787 9.80406 14.1242 7.4376 15.5422 5.93701C16.1967 5.2445 16.8511 3.62833 14.1242 5.5903L6.43419 11.0735C6.43419 11.0735 5.56135 11.6505 3.92575 11.1313C2.28928 10.6121 0.380645 9.91964 0.380645 9.91964C0.380645 9.91964 -0.928183 9.05377 1.30809 8.13011V8.1292Z" fill="white"/></svg>' },
	]

footer.footer
	.container
		.footer__inner
			.footer-logo
				a.footer-logo__link(href="/") 
					img.footer__logo-image(src="img/logo-white.svg" alt="")
			.footer-one
				.social
					each item in social
						a.social__link(href=item.href) !{item.svg}
							//- img.social__image(src=item.icon, alt="")
				a.footer__button.btn(href="tel:+79167624761") позвонить
			.footer-two
				div.footer__section.footer__section--left
					a.footer__link(href="#") Вакансии 
					a.footer__link(href="#") Политика обработки персональных данных
					p © ООО ШМАК. Все права защищены. 2024
				div.footer__section.footer__section--right
					p ОГРН 1127746046834
					p ИНН 7704799897, КПП 771901001
				.created
					a(href="https://xn--h1ag5cm.xn--g1aceflc0b.xn--p1ai/") 
						p создание <br>сайта
						img(src="img/logo-creator.png" alt="")
