.section.intro
    .container
        .intro__inner
            .banner
                .slider#slider
                    .slider__inner.swiper-wrapper
                        .slide.swiper-slide
                            .slide__left
                                img.slide__image(src="img/slide-image.png", alt="")
                            .slide__right
                                p.slide__text попробуйте наше новое блюдо!
                                p.slide__header шмак <br>селёдка
                                p.slide__price 450 #[span руб.]
                                img.slide__content-image(src="img/slide-image-2.png", alt="")
                                .slide__gallery
                                    img(src="img/slide-gallery-01.png", alt="")
                                    img(src="img/slide-gallery-02.png", alt="")
                                    img(src="img/slide-gallery-03.png", alt="")
                        .slide.swiper-slide
                            .slide__left
                                img.slide__image(src="img/slide-image.png", alt="")
                            .slide__right
                                p.slide__text попробуйте наше новое блюдо!
                                p.slide__header шмак <br>селёдка
                                p.slide__price 450 #[span руб.]
                                img.slide__content-image(src="img/slide-image-2.png", alt="")
                                .slide__gallery
                                    img(src="img/slide-gallery-01.png", alt="")
                                    img(src="img/slide-gallery-02.png", alt="")
                                    img(src="img/slide-gallery-03.png", alt="")

                    <div class="swiper-pagination"></div>
                            
            .subscribe.my-50
                .subscribe__inner
                    p.subscribe__text new year, same great food!
                    a.subscribe__button.btn(href="#") подписаться
            .intro-grid
                .video
                    video(src="video.mp4" poster="img/preview.png")
                    img(src="img/play.svg" alt="")
                .teaser
                    img.teaser__image(src="img/teaser-image.png" alt="")
                    p.teaser__header мечта делать <br>шмаки
                    div.teaser__text
                        p В сердце Москвы <br>расцветает история о <br>страстном поваре, <br>который превратил <br>свою мечту в вкусную <br>реальность